<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trabaja con nosotros</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../EstilosCSS/stylee.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
  </head>
  <body>
    
    <header>
      <div class="company-name">
        <a href="index.html"><img class="logo"src="../Img/Logo lector digital.png" alt="Leccion Digital Logo"/></a>
        <h1> Lección Digital</h1>
      </div>
      <nav class="navegacion">
        <ul class="nav">
          <li class="navegacion"><a href="/ProyectoIII/Templates/Tutorias.html">Tutorias</a></li>
          <li class="navegacion"><a href="/ProyectoIII/Templates/ebooks.html">Ebooks</a></li>
          <li class="navegacion"><a href="/ProyectoIII/Templates/registutores.html">Trabaja con nosotros</a></li>
        </ul>
      </nav>
      <div class="button-container">
        <button class="reg-btn" onclick="mostrarMensaje()">Registrarse</button>
        <button class="login-btn" onclick="mostrarMensaje()">Iniciar Sesión</button>
      </div>
      <div class="menu-btn" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </header>
    <main>
      <!-- Botón de Cambio de Modo -->
      <button id="modoOscuroBtn">Dark mode</button>

      <div class="container-formulario">
        <form class="formreg" id="registration-form" action="#" method="post">
            <h1 class="regdetutor">Trabaja con nosotros</h1>
    
            <label class="nombre" for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
    
            <label class="apellido" for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required>
    
            <label class="correo" for="correo">Correo Electrónico:</label>
            <input type="email" id="correo" name="correo" required>
    
            <label class="telefono" for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" pattern="[0-9]{10}" placeholder="(+34)">
    
            <label class="area"for="area">Área de Tutoría:</label>
            <select id="area" name="area" required>
                <option value="Area de conocimiento">Area de conocimiento</option>
                <option value="matematicas">Matemáticas</option>
                <option value="ingles">Inglés</option>
                <option value="biologia">Biología</option>
                <option value="artes">Artes</option>
                <option value="matematicas">Literatura</option>
                <option value="ingles">Programacion</option>
                <option value="biologia">Yoga</option>
                <option value="artes">Psicologia</option>
            </select>
    
            <label for="experiencia">Experiencia en Tutoría (en años):</label>
            <input type="number" id="experiencia" name="experiencia" min="0" required>
    
            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" minlength="6" required>
    
            <label for="confirmarContrasena">Confirmar Contraseña:</label>
            <input type="password" id="confirmarContrasena" name="confirmarContrasena" minlength="6" required>
    
            <button type="submitreg">Iniciar el proceso</button>
        </form>
    </div>
    </main>
    
    <footer class="footer">
      <div class="footer-content container">
          <element class="link">
            <a href="index.html"><img class="logo1"src="../Img/Logo lector digital.png" alt="Leccion Digital Logo"/></a>
            <h3 class="titlefoot"> Lección Digital </h3>
            <h3 class="copy">&copy; 2023</h3>
          </element>
            <div class="icons">
              <ul class="linksocial">
                 <li><i class='bx bxl-instagram' ></i></li>
                 <li><i class='bx bxl-linkedin-square' ></i></li>
               </ul>
            </div>
      </div>
  </footer>
  <script src="/ProyectoIII/JS/Script.js"></script>
  </body>
</html>




